//стили для фона с частицами
.background_main {
  position: relative;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;

  &_particles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

//стили для секции main
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 235px;
  z-index: 1;
  padding: 0 24px 26px;

  @media (max-width: 768px) {
    padding: 0px 10px 20px;
    height: 347px;
  }

  @media (max-width: 460px) {
    height: 287px;
    padding: 0px 10px 20px;
  }

  &_title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  &_title {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    color: var(--blue);
    font-size: clamp(5rem, 1.75rem + 16.25vw, 16.375rem);
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    line-height: normal;
    mix-blend-mode: color-dodge;
    padding-top: 100px;

    @media (max-width: 768px) {
      padding-top: 184px;
    }

    @media (max-width: 460px) {
      padding-top: 100px;
    }

    &::after {
      content: "creative";
      color: var(--blue);
      /* font-size: clamp(0.85rem, 0.3429rem + 2.5357vw, 2.625rem); */
      font-size: clamp(0.85rem, 0.2643rem + 2.9286vw, 2.9rem);
      font-weight: 500;
      writing-mode: sideways-lr;
      user-select: none;
    }

    @media (max-width: 460px) {
      padding-bottom: 11px;
    }
  }

  &_text {
    position: relative;
    z-index: 1;
    text-align: center;
    color: var(--blue);
    font-size: clamp(0.85rem, 0.3429rem + 2.5357vw, 2.625rem);
    font-weight: 500;
    writing-mode: sideways-lr;
    user-select: none;
    mix-blend-mode: color-dodge;
  }

  &_subtext {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    color: var(--white);
    font-size: clamp(1.1rem, 0.8786rem + 1.1071vw, 1.875rem);
    font-weight: 500;
    user-select: none;
    padding: 0 20px;
  }

  &_background {
    position: absolute;
    top: 0;
    left: 10px;
    width: 1400px;
    height: 654px;
    object-fit: cover;
    z-index: 0;
  }

  &_list {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: end;
    list-style-type: none;
    user-select: none;
    font-size: clamp(0.7rem, 0.6143rem + 0.4286vw, 1rem);
    gap: 48px;
    /* padding: 0 28px; */

    @media (max-width: 640px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 24px;
      row-gap: 31px;
    }

    @media (max-width: 460px) {
      padding: 0;
    }

    &_item {
      color: var(--gray);
      display: flex;
      align-items: center;
      gap: 10px;

      &::before {
        content: "";
        top: -10px;
        left: 0;
        display: block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: var(--green);
        flex-shrink: 0;
      }
    }
  }
}

//стили для заголовков без фона и с фоном
.heading,
.heading_dark {
  font-size: clamp(1.625rem, 1.493rem + 0.5634vw, 2rem);
  color: var(--primary);
  font-weight: 400;
  padding: clamp(3.125rem, 2.4648rem + 2.8169vw, 5rem) 0;
  user-select: none;
}

.heading_dark {
  color: var(--white);
}

//стили для заголовков без фона и с фоном + кнопка
.heading_form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: clamp(3.125rem, 2.4648rem + 2.8169vw, 5rem) 0;
  overflow: hidden;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  h2 {
    padding: 0;
  }

  &::after {
    content: "Лендинги";
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    font-size: clamp(3.5rem, 1.75rem + 8.75vw, 9.625rem);
    font-weight: 600;
    text-align: center;
    color: rgba(71, 102, 255, 0.08);
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.heading_form_dark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 80px 20px;
  background-color: var(--primary);
  color: var(--white);
  overflow: visible;
  isolation: isolate;
  gap: 130px;
  overflow: hidden;
  border-radius: 4px;

  h2 {
    padding: 0;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 50px 10px;
  }

  &::after {
    content: "айдентика";
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    font-size: clamp(3.5rem, 1.75rem + 8.75vw, 9.625rem);
    font-weight: 600;
    text-align: center;
    color: #172778;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

//общие стили для секций
.services,
.portfolio,
.price,
.team,
.contacts {
  padding: clamp(3.125rem, 2.4648rem + 2.8169vw, 5rem) 0;
  user-select: none;

  &_subtitle {
    font-size: 20px;
    color: var(--gray);
    font-weight: 700;
    text-transform: uppercase;
  }

  &_title {
    font-size: 30px;
    color: var(--primary);
    font-weight: 700;
    padding: clamp(0.625rem, 0.2729rem + 1.5023vw, 1.625rem) 0
      clamp(2.5rem, 1.9718rem + 2.2535vw, 4rem) 0;
  }
}

//стили для секции services

.services {
  &_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @media (max-width: 1440px) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      max-width: 935px;
      margin: auto;
    }

    @media (max-width: 760px) {
      grid-template-columns: 100%;
    }
  }
}

//стили для секции portfolio

.portfolio {
  &_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 40px;
    grid-template-areas:
      "card card-2 card-2"
      ". card-2 card-2"
      "card-3 card-4 card-5";

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "card card"
        "card-2 card-2"
        "card-3 card-4"
        "card-5 card-5";
    }

    @media (max-width: 640px) {
      grid-template-columns: 100%;
      grid-template-areas: "card" "card-2" "card-3" "card-4" "card-5";
      gap: 20px;
    }
  }
}

//стили для секции reviews
.reviews {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  width: 100%;

  &_container {
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: var(--primary);
    padding: 30px 0;
    user-select: none;

    @media (max-width: 740px) {
      padding: 40px 0;
    }
  }

  &_main {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
    padding-bottom: 90px;

    @media (max-width: 1300px) {
      gap: 25px;
    }
    @media (max-width: 980px) {
      padding-bottom: 72px;
    }
    @media (max-width: 740px) {
      flex-direction: column;
      gap: 40px;
      padding-bottom: 40px;
    }
  }

  &_text {
    min-width: 450px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;

    @media (max-width: 980px) {
      min-width: 330px;
    }

    @media (max-width: 740px) {
      padding-left: 20px;
    }
  }

  &_subtitle {
    font-size: 20px;
    color: var(--light-white);
    font-weight: 700;
    text-transform: uppercase;
  }

  &_title {
    font-size: 40px;
    color: var(--green);
    font-weight: 700;
    padding: 26px 0 65px 0;

    @media (max-width: 980px) {
      font-size: 30px;
      padding-top: 16px;
    }
    @media (max-width: 740px) {
      padding-bottom: 0px;
      padding-top: 10px;
    }
  }

  &_slider {
    background-color: var(--primary);
    max-width: 693px;
    padding: 40px 0 0;

    @media (max-width: 1300px) {
      max-width: 50%;
    }

    @media (max-width: 740px) {
      max-width: none;
      width: 100%;
      padding: 0 10px;
    }
  }

  &_buttons {
    margin-top: auto;
    display: flex;
    gap: 20px;
  }
}

//стили для секции price

.price {
  &_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}

//стили для секции team

.team {
  display: flex;
  flex-direction: column;

  &_members {
    display: flex;
    gap: 16px;
    padding-top: 136px;
    flex-wrap: nowrap;
    overflow-x: auto;

    /* Скрываем полосу прокрутки */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE и Edge */

    @media (max-width: 740px) {
      padding-top: 100px;
    }

    @media (max-width: 640px) {
      padding-top: 40px;
    }
  }

  &_members::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  &_title {
    padding: 26px 0 8px 0;

    @media (max-width: 640px) {
      padding-top: 8px;
      padding-bottom: 30px;
    }
  }

  &_text {
    font-size: clamp(1.25rem, 0.4118rem + 1.7647vw, 2rem);
    font-weight: 400;
    color: var(--primary);
    align-self: end;
  }
}

//стили для секции contacts
.contacts {
  &_content {
    display: flex;
    gap: 16px;

    @media (max-width: 1440px) {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media (max-width: 740px) {
        grid-template-columns: 100%;
      }
    }

    &_form {
      border-radius: 4px;
      width: 50%;
      background-color: var(--primary);
      padding: 30px 20px;
      min-height: 375px;

      @media (max-width: 1440px) {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
      }

      @media (max-width: 740px) {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
        min-height: 391px;
      }

      @media (max-width: 550px) {
        min-height: 435px;
      }

      &_title {
        color: var(--green);
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 20px;
      }

      &_text {
        color: var(--white);
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 121px;

        @media (max-width: 740px) {
          margin-bottom: 26px;
          font-size: 16px;
        }
      }
    }

    &_socials {
      border-radius: 4px;
      width: 25%;
      padding: 30px 20px;
      background-color: var(--green);

      @media (max-width: 1440px) {
        width: 100%;
      }

      &_title {
        color: var(--primary);
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 18px;
      }

      &_links {
        display: flex;
        justify-content: center;
        gap: 41px;
        margin-bottom: 50px;

        &_text {
          color: var(--primary);
          display: flex;
          flex-direction: column;
          gap: 21px;
          align-items: center;
          font-size: 18px;

          &_mail {
            user-select: text;
            -webkit-user-select: text;
            text-decoration: none;
          }

          &_telegram {
            text-decoration: none;
          }
        }
      }
    }

    &_address {
      border-radius: 4px;
      width: 25%;
      padding: 30px 20px;
      background-color: var(--light-white);

      @media (max-width: 1440px) {
        width: 100%;
      }
      @media (max-width: 740px) {
        height: 346px;
      }

      &_title {
        color: var(--primary);
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 18px;
      }

      &_text {
        color: var(--primary);
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}
