:root {
  --font-family-base: "Montserrat", sans-serif;

  --dark-blue: #162239;
  --primary: #071871;
  --secondary: #1437ad;
  --blue: #20c1ff;
  --green: #65e080;
  --green_dark: #37c255;
  --green_hover: #37c255;
  --gray: #cbcde4;
  --light-white: #e5e7f9;
  --white: #ffffff;
  --error: #ff0000;

  --transition-duration: 0.2s ease;
}
