:root {
  --font-family-base: "Montserrat", sans-serif;
    
  --primary: #071871;
  --secondary: #1437AD;
  --blue: #20C1FF;
  --green: #65E080;
  --green_dark: #37C255;
  --gray: #CBCDE4;
  --light-white: #E5E7F9;
  --white: #FFFFFF;

  --transition-duration: 0.2s;
}
 