.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Занимает всю высоту экрана
}

.content {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 clamp(0.625rem, -0.0893rem + 1.4881vw, 1.25rem);
  max-width: 1440px;
}
