// Модальное окно
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
  @media (max-width: 740px) {
    padding: 0 10px;
  }
}

.modal_content {
  background: var(--light-white);
  border-radius: 8px;
  max-width: 1130px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  animation: slideUp 0.4s ease-out;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  @media (max-width: 740px) {
    width: 100%;
  }
}

.close_button {
  position: absolute;
  top: 30px;
  right: 30px;
  border: 2px solid var(--gray);
  background-color: transparent;
  cursor: pointer;
  width: 58px;
  height: 58px;
  outline: none;
  border-radius: 50%;

  @media (max-width: 1100px) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: 1100px) {
    top: 10px;
    right: 10px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--gray);

    @media (max-width: 1100px) {
      width: 17px;
    }
  }

  &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.form_container {
  padding: 114px 68px 88px;
  max-width: 1130px;
  margin: 0 auto;
  color: var(--primary);

  @media (max-width: 1100px) {
    padding: 40px 20px;
  }

  @media (max-width: 580px) {
    padding: 40px 10px;
  }
}

.form {
  display: flex;
  gap: 82px;
  color: var(--primary);

  @media (max-width: 1100px) {
    flex-direction: column;
    gap: 70px;
  }

  @media (max-width: 580px) {
    gap: 30px;
  }
}

.form_left {
  display: flex;
  flex-direction: column;
  max-width: 376px;

  @media (max-width: 1100px) {
    max-width: none;
  }
}

.form_title {
  color: var(--primary);
  font-size: 40px;
  padding-bottom: 26px;
  line-height: normal;

  @media (max-width: 1100px) {
    padding-bottom: 20px;
  }

  @media (max-width: 580px) {
    font-size: 30px;
  }
}

.form_subtitle {
  padding-bottom: 78px;
  color: var(--primary);
  font-size: 18px;

  @media (max-width: 1100px) {
    padding-bottom: 48px;
  }

  @media (max-width: 580px) {
    font-size: 16px;
    padding-bottom: 30px;
  }
}

.service_options {
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 15px;

  @media (max-width: 1100px) {
    column-gap: 20px;
    row-gap: 16px;
    margin: 0;
  }

  @media (max-width: 580px) {
    gap: 16px;
  }

  .checkbox_service_label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 10px;
    line-height: normal;
    transition: var(--transition-duration);

    &:has(input[type="checkbox"]:checked) {
      background-color: var(--blue);
    }

    input[type="checkbox"] {
      display: none;
    }
  }
}

.field {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  @media (max-width: 1100px) {
    padding: 5px 0;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    background-color: var(--light-white);
    transition: var(--transition-duration);
    font-size: 16px;

    &:focus {
      border-color: var(--primary);
      outline: none;
    }
  }

  textarea {
    resize: vertical;
    min-height: 80px;
    max-height: 250px;
  }
}

.checkbox_label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
  padding-bottom: 20px;

  @media (max-width: 1100px) {
    align-items: start;
  }

  .checkbox_custom {
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary);
    border-radius: 3px;
    position: relative;
    transition: var(--transition-duration);
    flex-shrink: 0;

    @media (max-width: 1100px) {
      margin-top: 4px;
    }

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 4px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked + .checkbox_custom {
      background-color: var(--primary);
      border-color: var(--primary);

      &:after {
        display: block;
      }
    }
  }
}

.error {
  color: var(--error);
  font-size: 12px;
  margin-top: 2px;
}

.submit_button {
  padding: 12px;
  background: var(--green);
  color: var(--primary);
  border: none;
  border-radius: 38px;
  cursor: pointer;
  transition: var(--transition-duration);
  font-weight: bold;
  width: 100%;

  &:disabled {
    background: var(--gray);
    color: #b0b2c2;
    cursor: not-allowed;
    opacity: 0.7;
  }
}

//стили для формы в секции контакты
.form_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 100%;
  color: var(--primary);

  &_fields {
    display: flex;
    gap: 16px;

    @media (max-width: 740px) {
      flex-direction: column;
    }
  }

  &_field {
    display: flex;
    flex-direction: column;
    width: 33%;

    @media (max-width: 740px) {
      width: 100%;
    }

    & input,
    textarea {
      height: 44px;
      padding-left: 10px;
      border: 1px solid var(--primary);
      border-radius: 38px;
      background-color: var(--light-white);
      transition: var(--transition-duration);
      font-size: 16px;

      &:focus {
        border-color: var(--primary);
        outline: none;
      }
    }

    & textarea {
      resize: vertical;
      min-height: 80px;
      max-height: 250px;
    }
  }

  &_submit_button {
    background: var(--green);
    color: white;
    border: none;
    height: 44px;
    border-radius: 38px;
    cursor: pointer;
    transition: var(--transition-duration);
    font-weight: bold;
    width: 33%;

    @media (max-width: 740px) {
      width: 100%;
    }

    &:disabled {
      background: #cccccc;
      cursor: not-allowed;
      opacity: 0.7;
    }
  }

  &_checkbox_label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
    padding-bottom: 20px;
    color: var(--white);

    @media (max-width: 740px) {
      font-size: 12px;
      align-items: start;
    }

    .form_main_checkbox_custom {
      width: 20px;
      height: 20px;
      border: 2px solid var(--white);
      border-radius: 3px;
      position: relative;
      transition: var(--transition-duration);
      flex-shrink: 0;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 6px;
        top: 2px;
        width: 4px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    input[type="checkbox"] {
      display: none;

      &:checked + .form_main_checkbox_custom {
        background-color: var(--primary);
        border-color: var(--white);

        &:after {
          display: block;
        }
      }
    }
  }
}

// Модальное окно успешной отправки формы
.success_сontainer {
  text-align: center;
  padding: 200px 100px;
  max-width: 1000px;
  margin: 0 auto;

  @media (max-width: 740px) {
    padding: 100px 40px;
  }
}

.success_title {
  color: var(--primary);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  white-space: nowrap;

  @media (max-width: 740px) {
    font-size: 24px;
  }

  @media (max-width: 580px) {
    flex-direction: column;
    white-space: wrap;
  }

  &::after {
    content: "";
    display: block;
    width: 54px;
    height: 54px;
    background-image: url(../../../svg/check_green.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 740px) {
      width: 36px;
      height: 36px;
    }
  }

  &_contact {
    color: var(--white);
    font-size: 24px;
    text-align: center;
  }
}

.success_title_contact:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../../../svg/check_green.svg);
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: 740px) {
    width: 36px;
    height: 36px;
  }
}

.success_text {
  color: var(--primary);
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 18px;

  &_contact {
    color: var(--white);
    text-align: center;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 14px;

  &_contact {
    color: var(--white);
    font-size: 16px;
  }
}

.spinner {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border: 3px solid var(--gray);
  border-top-color: var(--secondary);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;

  &_contact {
    border: 3px solid var(--white);
    border-top-color: var(--green_dark);
  }
}

// Анимации

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// Адаптивность
@media (max-width: 768px) {
  .modalContent {
    width: 95%;
    max-height: 95vh;
  }

  .formContainer {
    padding: 20px;
  }

  .closeButton {
    top: 10px;
    right: 10px;
  }
}
