.menu_container {
  display: inline-block;
  border-radius: 50%;
  border: var(--primary) 3px solid;
  border: none;
  width: 204px;

  @media (max-width: 768px) {
    width: auto;
  }
}

.burger_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 60px;
  height: 60px;
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  z-index: 100;
  outline: none;
  padding: 7px;
  border-radius: 50%;
  border: var(--primary) 2px solid;

  @media (max-width: 768px) {
    width: 50px;
    height: 50px;
    gap: 10px;
  }

  @media (max-width: 480px) {
    width: 40px;
    height: 40px;
    gap: 6px;
  }

  .line {
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    border-radius: 3px;
    transition: all 0.3s ease;
    position: relative;
    transform-origin: 1px;
    background-color: var(--primary);

    @media (max-width: 768px) {
      width: 21px;
    }

    @media (max-width: 480px) {
      width: 17px;
    }
  }

  &.open {
    .line:nth-child(1) {
      transform: rotate(45deg) translate(1px, -2px);

      @media (max-width: 768px) {
        transform: rotate(45deg) translate(3px, -2px);
      }

      @media (max-width: 480px) {
        transform: rotate(45deg) translate(1px, -2px);
      }
    }
    .line:nth-child(2) {
      transform: rotate(-45deg) translate(2px, 1px);

      @media (max-width: 768px) {
        transform: rotate(-45deg) translate(1px, 4px);
      }

      @media (max-width: 480px) {
        transform: rotate(-45deg) translate(0px, 3px);
      }
    }
  }
}

.menu {
  position: absolute;
  top: 119px;
  left: calc(clamp(0.625rem, -0.0893rem + 1.4881vw, 1.25rem) * -1);
  left: 0;
  background: white;
  padding: 60px clamp(0.625rem, -0.0893rem + 1.4881vw, 1.25rem);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 99;
  width: 670px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100svh - 100px);
  max-height: 890px;

  @media (max-width: 768px) {
    top: 100px;
    height: calc(100svh - 100px);
    width: 100%;
  }

  @media (max-width: 480px) {
    top: 80px;
    height: calc(100svh - 80px);
  }

  &.menu_open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
  }
}
