.cardContainer {
  container-type: inline-size;

  &:nth-child(1) {
    grid-area: card;
  }

  &:nth-child(2) {
    grid-area: card-2;
  }

  &:nth-child(3) {
    grid-area: card-3;
  }

  &:nth-child(4) {
    grid-area: card-4;
  }

  &:nth-child(5) {
    grid-area: card-5;
  }
}

.cardWrapper {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  background: var(--white);
  position: relative;

  display: grid;
  grid-template-rows: 87% 13%;
  max-width: 928px;
  max-height: 721px;
  aspect-ratio: 1.15;

  @media (max-width: 1200px) {
    max-width: none;
  }
}

.imageContainer {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  line-height: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--transition-duration);

  .cardWrapper:hover & {
    transform: scale(1.05);
  }
}

.content {
  padding: 20px 0 10px;

  @media (max-width: 500px) {
    padding: 10px 0;
  }
}

.tag {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  display: inline-block;
  padding: 6px 10px;
  background: var(--light-white);
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary);
  transition: background-color var(--transition-duration);

  .cardWrapper:hover & {
    background: var(--blue);
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary);
  padding-bottom: 4px;

  @media (max-width: 500px) {
    font-size: 20px;
    padding: 0;
  }
}

.description {
  font-size: 18px;
  color: var(--primary);
}

@container (width < 793px) {
  .cardWrapper {
    grid-template-rows: 1fr auto;
    aspect-ratio: 1.21;
  }
}

@container (width < 500px) {
  .cardWrapper {
    grid-template-rows: 1fr auto;
    aspect-ratio: 1.18;
  }
}

@container (width < 420px) {
  .cardWrapper {
    grid-template-rows: 1fr auto;
    aspect-ratio: 1.05;
  }
}
