.button {
  height: 60px;
  padding: 19px 30px;
  border: none;
  border-radius: 38px;
  cursor: pointer;
  font-size: 16px;
  transition: var(--transition-duration);
  font-weight: 600;
  width: fit-content;
  line-height: normal;
  outline: none;
  white-space: nowrap;

  &:hover {
    background-color: var(--green_dark);
    transition: all 0.3s ease 0s;
  }

  &:active {
    transform: translateY(0);
  }

  &:has(img) {
    padding: 14px;
    border-radius: 50%;
    display: flex;
    height: 50px;

    @media (max-width: 480px) {
      padding: 10px;
      height: 40px;
    }
  }
}
